<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>
<body>

    <div class="login-page">
    <form action="/login1" method="post">
        <div class="imgcontainer">
          <img src="/images/104052-01.png" alt="logo" class="avatar" style="width: 200px; height:200px;">
        </div>
      
        <div class="container">
          <label for="lecturer_id"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="lecturer_id" required>
      
          <label for="pasw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="pasw" required>
      <p>You don't have an account? <a href="signup" style="color:dodgerblue">Sign Up</a></p>
          <button type="submit">Login</button>
          <button type="reset" class="cancelbtn btn-lg">Cancel</button>
        </div>

        
        <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
        
      </form>
    </div>

</body>
</html>