<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      /* Bordered form */
form {
  
  border-color: #6cf05bd5;
  border-radius: 56px;
 /* width: 800px;*/
  margin: auto;
  
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/*.login-page{
  align-content: center;
  justify-content: center;
  padding-top: 5%;
  padding-left: 25%;
  width: 60%;
}*/

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  /*margin: 0px 0 0px 0;*/
}

/* Avatar image */
img.avatar {
  width: 10%;
  border-radius: 10%;
}

/* Add padding to containers */
.container {
  padding: 16px;
  margin: auto;
  justify-items: center;
  justify-content: center;
  width: 40%;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

p{
  /*padding-left: 33%;*/
  text-align: center;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/*sign up form*******************************************/
/** {box-sizing: border-box}*/

/* Full-width input fields */
input[type=text], input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

/*.sign-up{
  align-content: center;
  justify-content: center;
  padding-top: 5%;
  padding-left: 22%;
  width: 80%;
  height: 50%;
}*/

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

button:hover {
opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
padding: 14px 20px;
background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
float: left;
width: 50%;
}

/* Add padding to container elements */
.container {
padding: 16px;
align-items: center;
justify-content: center;
}

/* Clear floats */
.clearfix::after {
content: "";
clear: both;
display: table;
}

h1{
  text-align: center;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
.cancelbtn, .signupbtn {
  width: 100%;
}
}

    </style>
    <title>Signup</title>
  </head>
  <body>
    <div class="sign-up">
      <form action="/signup1" method="POST">
        <div class="container">
          <div class="imgcontainer">
            <img
              src="/images/104052-01.png"
              alt="logo"
              class="avatar"
              style="width: 200px; height: 200px"
            />
          </div>

          <!--<h1>Sign Up</h1>-->
          <p style="text-align: center">
            Please fill in this form to create an account.
          </p>
          <hr />

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required />
          <label for="lecturer_id"><b>ID</b></label>
          <input type="text" placeholder="Enter ID"   name="lecturer_id"  required  />
          <label for="department"><b>Department</b></label>
          <input
            type="text"
            placeholder="Enter Department"
            name="department"
            required
          />
          <label for="psw"><b>Password</b></label>
          <input
            type="password"
            placeholder="Enter Password"
            name="psw"
            required
          />

          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input
            type="password"
            placeholder="Repeat Password"
            name="pswrepeat"
            required
          />

          <!-- <label>
            <input
              type="checkbox"
              checked="checked"
              name="remember"
              style="margin-bottom: 15px"
            />
            Remember me
          </label> -->

          <p>
            Already have an account?
            <a href="login" style="color: dodgerblue">login</a>.
          </p>

          <div class="clearfix">
            <button type="reset" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
