<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container{
            border-radius: 5px;
            background-color: aquamarine;
            width: 400px;
            font-size: large;
            font-style: oblique;
        }
        .container label{
            font-style: normal ;
            font: x-large;
            
        }
        .container .run{
            padding: 2px;
            border-radius: 6px;
            /* float: right; */
        } 
    </style>
    <title>Class Attendance</title>
</head>
<body>
    <div class="container">
        <h2>Class Attendance</h2>
        <form action="">
            <label for="course">Choose class :</label>  &nbsp 
            <select name="course" id="course">
                 <option value="">Embedded Systems</option>
                <option value="">Computer Systems Design</option>
                <option value="">Demothings</option>
            </select>
           <br>
            <label for="date">Date : </label>  &nbsp 
            <input type="date" name="" id="">
            <br>
             <button class="run"> Run</button>
        </form>
    </div>
</body>
</html>